<!doctype html>
<html ng-app="traceroute">
<head>
  <meta charset="utf-8">
  <title>Traceroute Visualization</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!--<script-->
  <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSYT0qquQTzCZrnHL_Tkos7m1pSsA92A">-->
  <!--</script>-->
  <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Traceroute Visualization</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-messages">
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-tasks">
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 1</strong>
                <span class="pull-right text-muted">40% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                     aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 2</strong>
                <span class="pull-right text-muted">20% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                     aria-valuemax="100" style="width: 20%">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 3</strong>
                <span class="pull-right text-muted">60% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% Complete (warning)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 4</strong>
                <span class="pull-right text-muted">80% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                     aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Tasks</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Followers
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> Message Sent
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-tasks fa-fw"></i> New Task
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> Server Rebooted
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="flot.html">Flot Charts</a>
            </li>
            <li>
              <a href="morris.html">Morris.js Charts</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
        </li>
        <li>
          <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="panels-wells.html">Panels and Wells</a>
            </li>
            <li>
              <a href="buttons.html">Buttons</a>
            </li>
            <li>
              <a href="notifications.html">Notifications</a>
            </li>
            <li>
              <a href="typography.html">Typography</a>
            </li>
            <li>
              <a href="icons.html"> Icons</a>
            </li>
            <li>
              <a href="grid.html">Grid</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Third Level <span class="fa arrow"></span></a>
              <ul class="nav nav-third-level">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
              <!-- /.nav-third-level -->
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
            <li>
              <a href="login.html">Login Page</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<!-- End of Navigation -->
<div id="page-wrapper">
  <!--ACTUAL BODY STARTS HERE-->

  <div class="panel panel-default">

    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Cytoscape - Traceroute
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="container">
        <button type="button" id="123234" class="btn btn-default" data-placement="top"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title=""
                title="">
          Popover on top
        </button>
        <button id="testButton" type="button" class="btn btn-default" ng-controller="testController"
                ng-click="analyzetr()">Test
        </button>

        <!--Node1: <input type="text" name="node1" value="http://ps2.jp.apan.net/esmond/perfsonar/archive/" ng-model="input_node1"><br>-->
        <!--Node2: <input type="text" name="node2" ng-model="input_node2"><br>-->
        <!--<button type="button" ng-controller="tr_cytoscape" ng-click="updateGraph()">Update</button>-->
        <!--<div ng-controller="tr_cytoscape">-->
        <!--Main Nodes: {{mainNodes}}-->

        <!--Total Nodes: {{totalNodes}}-->
        <!--Date of Traceroute Test: {{tracerouteDate}}-->
        <!--Time of Traceroute Test: {{tracerouteTime}}-->
        <!--</div>-->


        <!--<div class="container" id="tr_plot_cytoscape" ng-controller="tr_cytoscape">-->

        <!--</div>-->


      </div>

    </div>
    <!-- /.panel-body -->
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Traceroute - No Duplicated Path
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      Show Visualisation: <input class="checkbox-inline" type="checkbox" ng-model="myVar">

      <button type="button" class="btn btn-default" ng-controller="Traceroute_NoDuplicateCtrl"
              ng-click="loadTraceroute_NoDuplicate()">Load Traceroute
      </button>

      <div class="container" ng-show="myVar">

        <div ng-controller="Traceroute_NoDuplicateCtrl">
          Main Nodes: {{mainNodes}}
          NON - Main Nodes: {{NonMainNodes}}
          Total Nodes: {{totalNodes}}
          Date of Traceroute Test: {{tracerouteDate}}
          Time of Traceroute Test: {{tracerouteTime}}


        </div>


        <div class="container" id="traceroute_noduplicate" ng-controller="Traceroute_NoDuplicateCtrl">

        </div>


      </div>

    </div>
    <!-- /.panel-body -->
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Cytoscape Bandwidth - AngularJS Service
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      Overview of all, click, show from that clicked node perspective.
      <button type="button" class="btn btn-default" ng-controller="updateBandwidth" ng-click="getBandwidth()">Get
        Bandwidth
      </button>
      <button id="latencyButton" type="button" class="btn btn-default" ng-controller="updateBandwidth"
              ng-click="getBandwidth()">Get Latency
      </button>
      <div class="container" id="cytoscape_bandwidth" ng-controller="bw_cytoscape">
        <!--<button type="button" ng-controller="tr_cytoscape" ng-click="updateGraph()">Update</button>-->


      </div>
    </div>
    <!-- /.panel-body -->
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Cytoscape Latency
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

      <div ng-controller="LatencyVisualisation_DisplayOptionsCtrl">
        <button type="button" class="btn btn-default" ng-click="displayBreathFirst();">Breath First</button>
        <button type="button" class="btn btn-default" ng-click="displayConcentric();">Concenmetric</button>
        <button type="button" class="btn btn-default" ng-click="displayGrid();">Grid</button>
        <button type="button" class="btn btn-default" ng-click="displayCose();">Cose</button>
        <button type="button" class="btn btn-default" ng-click="displayCircle();">Circle</button>
      </div>


      <div ng-controller="LatencyVisualisationCtrl">


        <p>Date of Latency Test: {{latencyDate}}</p>
        <p>Time of Latency Test: {{latencyTime}}</p>

        //Maybe do a qtip popup instead.
        <p>ISSUE: Failure in traceroute is not mentioned</p>

        <div class="container" id="latency_cytoscape"></div>


        <!--<button type="button" class="btn btn-default" ng-click="showMe();">Show</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="hideMe();">Hide</button>-->


        <!--ng-show="showLatencyInfo-->
        <div id="LatencyInformation" class="container" ng-controller="LatencyInformationCtrl">

          <button type="button" class="btn btn-default" ng-click="TestClick();">Breath First Layout</button>
          <button type="button" class="btn btn-default" ng-click="TestClick();">Additional Layout</button>
          <button type="button" class="btn btn-default" ng-click="TestClick();">Additional Layout</button>
          <button type="button" class="btn btn-default" ng-click="TestClick();">Additional Layout</button>


          <div id="latency_cytoscape_traceroute">
            <p> TRACEROUTE GOES HERE</p>

          </div>

          <div id="latency_metadata_summary">


            <div class="table-responsive">
              <table class="table">

                <thead>
                <tr>

                  <th>Latency Summary Type</th>
                  <th>Latency Summary Date</th>
                  <th>Latency Summary Time</th>
                  <th>Latency Summary Window</th>
                  <th>Latency Histogram</th>
                </tr>
                </thead>

                <tbody>


                <tr ng-repeat="summary in latencySummaryData">
                  <td>{{summary.type}}</td>
                  <td>{{summary.date}}</td>
                  <td>{{summary.time}}</td>
                  <td>{{summary.window}}</td>

                  <td>
                    <button type="button" class="btn btn-default"
                            ng-click="loadLatencySummaryChart(summary.url, summary.event_type, summary.type, summary.window, summary.uri);">
                      Load Histogram
                    </button>
                  </td>
                </tr>


                </tbody>
              </table>
            </div>

            <div>
              <p>Histogram</p>


              <ul class="pagination" ng-repeat="(key, val) in IndividualLatencyResults">
                <li><a href="" ng-click="loadIndividualLatencyChart(key)">{{key+1}}</a></li>

              </ul>

              <!--<div ng-repeat="(key, val) in IndividualLatencyResults">-->
                <!--<canvas class="chart chart-bar" chart-data="val.data" chart-labels="val.label">-->
                <!--</canvas>-->

              <!--</div>-->

              <div ng-repeat="(key, val) in IndividualLatencyResults">
                <p>Date: {{val.date}}</p>
                <p>Time: {{val.time}}</p>
                <canvas class="chart chart-bar" chart-data="val.data" chart-labels="val.label">
                </canvas>

              </div>


              <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
              </canvas>

            </div>


          </div>


        </div>


        1. Get Traceroute if possible - DONE.
        2. Display Aggregation and Statistics.

        Focus: detection of variating/anomaly in the health of links.
        We need to get the data over time to see if there is progressive deterioration on links.
        look ay past data you would see the changes in latency amd bandwidth.
        visualisation and analysis tool for the network manager.

      </div>
      <!-- /.panel-body -->
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Google Maps
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="container">


          <!--<button type="button" ng-controller="tr_cytoscape" ng-click="updateGraph()">Update</button>-->


          <!--<div id="tr_plot_gmaps" ng-controller="tr_gmaps">-->

          <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>-->
          <!--<ui-gmap-markers models="nodeMarkers" coords="'self'" icon="'icon'" options="'options'">-->
          <!--<ui-gmap-windows show="show">-->
          <!--<div ng-non-bindable>{{title}}</div>-->
          <!--</ui-gmap-windows>-->
          <!--</ui-gmap-markers>-->

          <!--<ui-gmap-polylines models="edgeLines" path="'geotracks'" stroke="'stroke'">-->

          <!--</ui-gmap-polylines>-->
          <!--</ui-gmap-google-map>-->
          <!--</div>-->

        </div>


      </div>
      <!-- /.panel-body -->
    </div>


  </div>

  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

  <script>
    // tooltip demo
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })

    // popover demo
    $("#123234")
      .popover()

    $('#123234').qtip({ // Grab some elements to apply the tooltip to
      content: {
        text: 'My common piece of text here'
      }
    })

  </script>

</body>
</html>
