<!doctype html>
<html ng-app="traceroute">

<head>
  <meta charset="utf-8">
  <title>Traceroute Visualization</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!--<script-->
  <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSYT0qquQTzCZrnHL_Tkos7m1pSsA92A">-->
  <!--</script>-->
  <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Traceroute Visualization</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-messages">
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-tasks">
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 1</strong>
                <span class="pull-right text-muted">40% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                     aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 2</strong>
                <span class="pull-right text-muted">20% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                     aria-valuemax="100" style="width: 20%">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 3</strong>
                <span class="pull-right text-muted">60% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% Complete (warning)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 4</strong>
                <span class="pull-right text-muted">80% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                     aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Tasks</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Followers
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> Message Sent
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-tasks fa-fw"></i> New Task
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> Server Rebooted
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="flot.html">Flot Charts</a>
            </li>
            <li>
              <a href="morris.html">Morris.js Charts</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
        </li>
        <li>
          <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="panels-wells.html">Panels and Wells</a>
            </li>
            <li>
              <a href="buttons.html">Buttons</a>
            </li>
            <li>
              <a href="notifications.html">Notifications</a>
            </li>
            <li>
              <a href="typography.html">Typography</a>
            </li>
            <li>
              <a href="icons.html"> Icons</a>
            </li>
            <li>
              <a href="grid.html">Grid</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Third Level <span class="fa arrow"></span></a>
              <ul class="nav nav-third-level">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
              <!-- /.nav-third-level -->
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
            <li>
              <a href="login.html">Login Page</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<!-- End of Navigation -->
<div id="page-wrapper">
  <!--ACTUAL BODY STARTS HERE-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Traceroute</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Traceroute Visualisation
          <div class="pull-right">
            Text here if needed
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <!--<button type="button" class="btn btn-default" ng-controller="updateBandwidth" ng-click="getBandwidth()">Get-->
          <!--Bandwidth-->
          <!--</button>-->

          <!--<div class="container" id="cytoscape_bandwidth" ng-controller="bw_cytoscape">-->
          <!---->
          <!--</div>-->

          <!--<div class="container" ng-controller="TracerouteGraphCtrl">-->

          <!--<div class="container" id="traceroute_graph_cytoscape"></div>-->

          <!--</div>-->

          <div ng-controller="TracerouteGraphCtrl">

            <div id="traceroute_graph_cytoscape"></div>

          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-gear fa-fw"></i> Overview Panel
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">


          //Maybe separate list-group.
          <div class="list-group">

            <a href="#" class="list-group-item">
              <i class="fa fa-bar-chart-o fa-fw"></i> Overview of Traceroute Path
            </a>

            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl"
               ng-click="layoutdisplayConcentric();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Concentric
            </a>

            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl"
               ng-click="layoutBreathFirst();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Breath First
            </a>


            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl" ng-click="layoutGrid();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Grid
            </a>

            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl" ng-click="layoutCose();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Cose
            </a>

            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl" ng-click="layoutCircle();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Circle
            </a>


            <a href="#" class="list-group-item disabled">
              <i class="fa fa-asterisk fa-fw"></i>
              <span class="badge ">12</span> Total No. of Nodes:
            </a>

            <a href="#" class="list-group-item disabled">
              <i class="fa fa-asterisk fa-fw"></i>
              <span class="badge" ng-controller="TracerouteTableCtrl">{{noOfSourceNodes}}</span> No. of Source Nodes:
              {{noOfSourceNodes}}
            </a>

            <a href="#" class="list-group-item disabled">
              <i class="fa fa-asterisk fa-fw"></i>
              <span class="badge ">1500</span> No. of Destination Nodes:
            </a>

            <a href="#" class="list-group-item disabled">
              <i class="fa fa-exclamation-triangle fa-fw"></i>
              <span class="badge" ng-controller="TracerouteTableCtrl">{{noOfAnomalies}}</span> Erroneous Results:
            </a>


            <a href="#" class="list-group-item" ng-controller="TracerouteGraphPanelCtrl" ng-click="clearCache();">
              <i class="fa fa-refresh fa-fw"></i> Clear Cache
            </a>


            <a href="#" class="list-group-item">
              <i class="fa fa-exclamation-triangle fa-fw"></i>
              <span class="badge ">abc</span> Example:
            </a>
            <!--<a href="#" class="list-group-item">-->
            <!--<i class="fa fa-money fa-fw"></i> -->
            <!--Payment Received-->
            <!--<span class="pull-right text-muted small">-->
            <!--<em>Yesterday</em>-->
            <!--</span>-->
            <!--</a>-->

          </div>
          <!-- /.list-group -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>

  <!--Anomalies Panel START-->
  <!--<div class="panel panel-danger">-->
  <div class="panel panel-red">
    <div class="panel-heading">
      Traceroute with Anomalies
    </div>
    <div class="panel-body">


      <div ng-controller="TracerouteTableCtrl">
        {{noOfSourceNodes}}

        <!--<div class="" ng-repeat="(key, val) in anomalyResults">-->
          <!--<h4>Source: {{val.source}}, City, Country.</h4>-->

          <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
              <!--Destination: {{val.destination}}, City, Country. From {{val.nodes[0].startDate}}-->
              <!--{{val.nodes[0].startTime}} To {{val.nodes[0].endDate}}{{val.nodes[0].endTime}}-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
            <!--<div class="panel-body">-->
              <!--<div class="table-responsive">-->
                <!--<table class="table">-->

                  <!--<thead>-->
                  <!--<tr>-->
                    <!--<th>Hop</th>-->
                    <!--<th>IP</th>-->
                    <!--<th>RTT</th>-->
                    <!--<th>Min RTT</th>-->
                    <!--<th>Mean RTT</th>-->
                    <!--<th>Std Deviation RTT</th>-->
                    <!--<th>Status</th>-->
                    <!--<th>Visualise</th>-->

                  <!--</tr>-->
                  <!--</thead>-->

                  <!--<tbody>-->
                  <!--<tr ng-repeat="(key, val) in val.nodes">-->
                    <!--<span ng-if="val.status">-->
                    <!--<td>{{key+1}}</td>-->
                    <!--<td>{{val.ip}}</td>-->
                    <!--<td>{{val.rtt}}</td>-->
                    <!--<td>{{val.rttMin}}</td>-->
                    <!--<td>{{val.rttAvg}}</td>-->
                    <!--<td>{{val.rttStd}}</td>-->

                    <!--<td class="danger" ng-if="val.status"><span-->
                      <!--class="glyphicon glyphicon-remove"> {{val.status}} </span></td>-->
                    <!--<td class="success" ng-if="!val.status"><span class="glyphicon glyphicon-ok"> {{val.status}} </span>-->
                    <!--</td>-->


                    <!--<td>-->
                      <!--<input type="checkbox" name="vehicle" value="Car" checked>-->
                    <!--</td>-->
                  <!--</span>-->
                  <!--</tr>-->
                  <!--</tbody>-->

                <!--</table>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.table-responsive &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->

      </div>

    </div>
  </div>

  <!--Anomalies Panel END-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Traceroute Results
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">


      <div class="container" ng-controller="TracerouteTableCtrl">
        Each Result has a Source and Destination, and MANY intermediate nodes with RTT values in between.

        <div class="" ng-repeat="(key, val) in tracerouteResults | orderBy: 'source'">
          <h4>Source: {{val.source}}, City, Country.</h4>

          <div class="panel panel-default">
            <div class="panel-heading">
              Destination: {{val.destination}}, City, Country. From {{val.nodes[0].startDate}}
              {{val.nodes[0].startTime}} To {{val.nodes[0].endDate}}{{val.nodes[0].endTime}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">

                  <thead>
                  <tr>
                    <th>Hop</th>
                    <th>IP</th>
                    <th>RTT</th>
                    <th>Min RTT</th>
                    <th>Mean RTT</th>
                    <th>Std Deviation RTT</th>
                    <th>Status</th>
                    <th>Visualise</th>

                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="(key, val) in val.nodes ">
                    <td>{{key+1}}</td>
                    <td>{{val.ip}}</td>
                    <td>{{val.rtt}}</td>
                    <td>{{val.rttMin}}</td>
                    <td>{{val.rttAvg}}</td>
                    <td>{{val.rttStd}}</td>

                    <td class="danger" ng-if="val.status"><span
                      class="glyphicon glyphicon-remove"> {{val.status}} </span></td>
                    <td class="success" ng-if="!val.status"><span class="glyphicon glyphicon-ok"> {{val.status}} </span>
                    </td>


                    <td>
                      <input type="checkbox" name="vehicle" value="Car" checked>
                    </td>

                  </tr>
                  </tbody>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>

        </div>
      </div>


      <div ng-controller="TracerouteNotificationCtrl">

        <p ng-click="Hello()">Click me</p>
      </div>

    </div>
    <!-- /.panel-body -->
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      Traceroute Results
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">Source<span
          class="badge">42</span></a>
        </li>
        <li class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">Destination</a>
        </li>
        <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Intermediary Nodes</a>
        </li>
        <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Anomalies</a>
        </li>
        <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Erroneous Traceroute Result</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane fade active in" id="home-pills">
          <h4>Home Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>

        <div class="tab-pane fade" id="profile-pills">
          <h4>Profile Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>

        <div class="tab-pane fade" id="messages-pills">
          <h4>Messages Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>


      </div>

    </div>
    <!-- /.panel-body -->
  </div>


  <!--Traceroute - Singular Path-->
  <div class="panel panel-default">

    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Traceroute - No Duplicated Path
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      Show Visualisation:
      <input class="checkbox-inline" type="checkbox" ng-model="myVar">

      <button type="button" class="btn btn-default" ng-controller="Traceroute_NoDuplicateCtrl"
              ng-click="loadTraceroute_NoDuplicate()">Load Traceroute
      </button>

      <div class="container" ng-show="myVar">

        <div ng-controller="Traceroute_NoDuplicateCtrl">
          Main Nodes: {{mainNodes}} NON - Main Nodes: {{NonMainNodes}} Total Nodes: {{totalNodes}} Date of Traceroute
          Test: {{tracerouteDate}} Time of Traceroute Test: {{tracerouteTime}}


        </div>


        <div class="container" id="traceroute_noduplicate" ng-controller="Traceroute_NoDuplicateCtrl">

        </div>


      </div>

    </div>
    <!-- /.panel-body -->
  </div>

  <!--Empty Panel-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Empty Panel
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="container">


      </div>


    </div>
    <!-- /.panel-body -->
  </div>

</div>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

<script>
  // tooltip demo
  $('.tooltip-demo').tooltip({
    selector: "[data-toggle=tooltip]",
    container: "body"
  })

  // popover demo
  $("#123234")
    .popover()

  $('#123234').qtip({ // Grab some elements to apply the tooltip to
    content: {
      text: 'My common piece of text here'
    }
  })
</script>

</body>

</html>
